.shrink-enter-active,
.shrink-leave-active {
  transition: opacity 0.2s ease, transform 0.5s ease;
}

.shrink-enter-from,
.shrink-leave-to {
  opacity: 0;
  height: 0;
  transform: translateY(-10px);
}
