html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #333;
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  // ::-webkit-scrollbar 滚动条整体部分
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  // ::-webkit-scrollbar-track  滚动条的轨道（里面装有Thumb）
  ::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 2px;
  }

  // ::-webkit-scrollbar-thumb  滚动条里面的小方块
  ::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #{transparentize(#ccc, 0.5)};

    &:hover {
      background-color: #{transparentize(#ccc, 0.5)};
    }
  }
}

@for $i from 1 through 10 {
  .z-#{$i} {
    z-index: $i;
  }
}

.cursor-default {
  cursor: default;
}

.x-dialog-bg {
  color: aliceblue;
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.5);
  cursor: default;
}

@supports ((backdrop-filter: none) or (-webkit-backdrop-filter: none)) {
  .x-dialog-bg {
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
}

@supports not ((backdrop-filter: none) or (-webkit-backdrop-filter: none)) {
  .x-dialog-bg {
    background-color: rgb(50, 50, 50);
  }
}
