.icon {
  display: inline-block;
  line-height: 1;
  width: 1em;
  font-size: 2rem;
  font-style: normal;
  font-variant: normal;
  margin-left: 0;
  margin-right: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

@each $icon in baidu, bing, dropdown, dropup, google, plus, search {
  .icon-#{$icon}:before {
    content: url('../assets/icons/#{$icon}.svg');
  }
}
