@use 'sass:color';
$colors: (
  primary: #2196f3,
  normal: #ffffff,
  secondary: #ff9800,
  accent: #ff5722,
  success: #4caf50,
  warning: #ffeb3b,
  danger: #f44336,
  info: #00bcd4,
  light: #fafafa,
  dark: #212121
);

:root {
  @each $name, $color in $colors {
    --#{$name}-color: #{$color};
    --#{$name}-color-text: #ffffff;
    --#{$name}-color-hover: #{color.scale($color, $lightness: -10%)};
    --#{$name}-color-active: #{color.scale($color, $lightness: -20%)};
  }

  --default-border-radius: 0.25rem;
}
