:root {
  --primary-color: #00bcd4;
  --primary-color-text: #ffffff;
  --normal-color: #ffffff;
  --normal-color-text: #000000;
  --secondary-color: #ff9800;
  --secondary-color-text: #ffffff;
  --accent-color: #ff5722;
  --accent-color-text: #ffffff;
  --success-color: #4caf50;
  --success-color-text: #ffffff;
  --warning-color: #ffeb3b;
  --warning-color-text: #000000;
  --danger-color: #f44336;
  --danger-color-text: #ffffff;
  --info-color: #2196f3;
  --info-color-text: #ffffff;
  --light-color: #fafafa;
  --light-color-text: #000000;
  --dark-color: #212121;
  --dark-color-text: #ffffff;
  --default-border-radius: 0.25rem;
}
